 .wrapper-app {
    display: grid;
    grid-template-rows: 86px auto auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* justify-items: stretch; */
    justify-items: center;
    box-sizing: border-box; 
    column-gap: 20px;
    align-items: center;
}
@media screen and (max-width: 450px) {

    .wrapper-app {
        grid-template-rows: 65px auto auto;
    }

    
}